.main {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-color: black;
    color: #2f9599;
}

.todo-item {
    border-bottom: 1px solid #c0f3f5;
    padding: 1rem;
    font-size: 30px;
    border-radius: 100%!;
}

.heading {
    color: #2f9599;
}

input:checked+p {
    text-decoration: line-through;
    color: grey;
    text-decoration-color: #a2a1a5;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -22px;
    right: 0px;
    height: 40px;
    width: 40px;
    background-color: rgb(6, 37, 63);
    margin-right: 20px;
    border-radius: 100%;
}


/* On mouse-over, add a grey background color */

.checkcontainer:hover input~.checkmark {
    background-color: #2f9599;
}


/* When the checkbox is checked, add a blue background */

.checkcontainer input:checked~.checkmark {
    background-color: #042947;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkcontainer input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 20px;
    border: solid rgb(126, 160, 71);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form.additem {
    text-align: center;
    margin-left: 20px;
}

.btn-primary {
    min-height: 50px;
    min-width: 50px;
    border-radius: 1000%;
    border-color: transparent;
    background-color: rgb(6, 37, 63);
    color: rgb(78, 198, 214);
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

.btn-primary:hover {
    background-color: #2f9599;
}

.container {
    background-color: black;
    box-shadow: 0px 00px 0px 10px;
}

input[type=text] {
    color: rgb(65, 109, 122)!important;
}

input[type=text]::placeholder {
    color: rgb(11, 38, 46)!important;
    opacity: 1;
    /* Firefox */
}